   .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin: 100px auto; 
    padding: 20px;
    max-width: 960px; 
    box-sizing: border-box;
    justify-content: center; 
  }
  @media (max-width: 960px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    }
  }
  